<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-customer-heading" data-cy="CustomerCreateUpdateHeading" jhiTranslate="filterreactiveApp.customer.home.createOrEditLabel">
        Create or edit a Customer
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="filterreactiveApp.customer.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="filterreactiveApp.customer.age" for="field_age">Age</label>
          <input type="number" class="form-control" name="age" id="field_age" data-cy="age" formControlName="age" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="filterreactiveApp.customer.distanceTravelled" for="field_distanceTravelled"
            >Distance Travelled</label
          >
          <input
            type="number"
            class="form-control"
            name="distanceTravelled"
            id="field_distanceTravelled"
            data-cy="distanceTravelled"
            formControlName="distanceTravelled"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="filterreactiveApp.customer.amountSpent" for="field_amountSpent">Amount Spent</label>
          <input
            type="number"
            class="form-control"
            name="amountSpent"
            id="field_amountSpent"
            data-cy="amountSpent"
            formControlName="amountSpent"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="filterreactiveApp.customer.amountSaved" for="field_amountSaved">Amount Saved</label>
          <input
            type="number"
            class="form-control"
            name="amountSaved"
            id="field_amountSaved"
            data-cy="amountSaved"
            formControlName="amountSaved"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="filterreactiveApp.customer.amountEarned" for="field_amountEarned">Amount Earned</label>
          <input
            type="number"
            class="form-control"
            name="amountEarned"
            id="field_amountEarned"
            data-cy="amountEarned"
            formControlName="amountEarned"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="filterreactiveApp.customer.happyPerson" for="field_happyPerson">Happy Person</label>
          <input
            type="checkbox"
            class="form-check"
            name="happyPerson"
            id="field_happyPerson"
            data-cy="happyPerson"
            formControlName="happyPerson"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="filterreactiveApp.customer.dob" for="field_dob">Dob</label>
          <div class="d-flex">
            <input
              id="field_dob"
              data-cy="dob"
              type="datetime-local"
              class="form-control"
              name="dob"
              formControlName="dob"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="filterreactiveApp.customer.createdDate" for="field_createdDate">Created Date</label>
          <div class="input-group">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="text"
              class="form-control"
              name="createdDate"
              ngbDatepicker
              #createdDateDp="ngbDatepicker"
              formControlName="createdDate"
            />
            <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="filterreactiveApp.customer.travelDate" for="field_travelDate">Travel Date</label>
          <div class="d-flex">
            <input
              id="field_travelDate"
              data-cy="travelDate"
              type="datetime-local"
              class="form-control"
              name="travelDate"
              formControlName="travelDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="filterreactiveApp.customer.travelTime" for="field_travelTime">Travel Time</label>
          <input
            type="text"
            class="form-control"
            name="travelTime"
            id="field_travelTime"
            data-cy="travelTime"
            formControlName="travelTime"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="filterreactiveApp.customer.customerType" for="field_customerType">Customer Type</label>
          <select class="form-control" name="customerType" formControlName="customerType" id="field_customerType" data-cy="customerType">
            <option [ngValue]="null">{{ 'filterreactiveApp.CustomerType.null' | translate }}</option>
            <option *ngFor="let customerType of customerTypeValues" [value]="customerType">
              {{ 'filterreactiveApp.CustomerType.' + customerType | translate }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
